body {
	overflow: hidden;
	background-color: #fcfcfc;
	margin: 0;
	padding: 0;
}

.flipbook-viewport {
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.flipbook-viewport .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flipbook-viewport .page {
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.flipbook .page {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
	user-select: none;
	margin: 0;
}

.flipbook-viewport .shadow {
	box-shadow: 0 0 20px #ccc;
}